<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./css/odin.css">
  <title>Fibonacci Calulator</title>
</head>
<body>
  <header></header>
  <main id="app" class="container">
    <form class="columns eight">
      <legend>FiboCalc</legend>
      <input type="text" name="factor"   v-model="factor"  >
      <input type="text" name="position" v-model="position">
      <h2>{{finalNum}}</h2>
    </form>
    <aside class="columns four">
      <ul>
        <li v-for="num in fibTable">{{ num }}</li>
      </ul>
    </aside>
  </main>
  <footer></footer>
</body>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
new Vue({
  el: '#app',
  data: {
    factor: 1,
    position: 0,
  },
  methods: {
    fibNum: function (num) {
      let a = 1, b = 0, temp;
      while (num >= 0){
        temp = a;
        a = a + b;
        b = temp;
        num--;
      }
      return b;
    },
    fiboArray: function (num) {
      let a = 1, b = 0, temp, array = [];
      while (num >= 0){
        //console.table(['loop '+num,'temp '+temp, 'a '+a, 'b '+b]);
        temp = a;
        a = a + b;
        b = temp;
        array.push(b);
        num--;
      }
      console.log(array);
      return array;
    }
  },
  computed: {
    finalNum: function () {
      let num = this.position;
      num = this.fibNum(num);
      num *= this.factor;
      return num;
    },
    fibTable: function () {
      return this.fiboArray(20);
    },
  },
})
</script>
</html>